/*
  huffman.info landing page stylesheet

  styles.css
*/

/*
********************
* global
********************
*/

header,
footer,
section,
article,
div {
  /* keep elements padding and borders contained within width and height   */
  box-sizing: border-box;
}

/* fontawesome */
[class*="fontawesome-"]::before {
  font-family: 'fontawesome', sans-serif;
}

body {
  /* setup for page styling     */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  background-color: #F8F9F9;
}

body a {
  text-decoration: none;
  transition: color 0.5s ease, background-color 0.5s ease;
}

/*
********************
* header
********************
*/

header {
  /* Use flexbox to help manage element containers */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  height: 100%;
  color: #6E0000;
}

.title {
  /* style name in header, spacing and positioning */
  align-self: center;
  text-shadow: 0 2px 2px lightgrey;
  letter-spacing: 2px;
  text-transform: lowercase;
  text-align: center;
  border-bottom: 1px solid;
  font-size: 1.7em;
  padding: 5px;
  width: 85%;
}

/*
********************
* main
********************
*/

main {
  /* Use flexbox to help manage element containers */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.col1,
.col2 {
  text-align: center;
  width: 95%;
  align-self: center;
  text-shadow: 0 2px 2px lightgrey;
  position: relative;
  letter-spacing: 1px;
  text-transform: lowercase;
  padding: 0;
}

.col1 {
  color: #376E00;
}

.col1 a:link,
.col1 a:visited {
  color: #376E00;
  padding: 2px;
}

.col1 a:hover,
.col1 a:active {
  color: white;
  background-color: #376E00;
  border-radius: 2px;
  text-shadow: 0 0 0;
  padding: 2px;
}

.col2 {
  color: #006E6E;
}

.col2 a:link,
.col2 a:visited {
  color: #006E6E;
  padding: 2px;
}

.col2 a:hover,
.col2 a:active {
  color: white;
  background-color: #006E6E;
  border-radius: 2px;
  text-shadow: 0 0 0;
  padding: 2px;
}

.col1-title,
.col2-title {
  font-size: 1.5em;
}

/*
  Used for special border bottom that is a percentage smaller than the column title element.

  Source: https://www.steckinsights.com/shorten-length-border-bottom-pure-css/
*/
.col1-title::after,
.col2-title::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 90%; /* Change this to whatever width you want. */
  padding-top: 5px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid; /* This creates the border. */
}

.list1,
.list2 {
  font-size: 1.3em;
  width: 100%;
  margin: auto; /* center div */
  text-align: left;
  padding: 0;
}

.list1 > div,
.list2 > div {
  margin: 10px;
}

.extra {
  position: relative;
  font-size: 0.6em;
  left: 40px;
  bottom: 5px;
}

/*
********************
* footer
********************
*/

footer {
  height: 100%;
  width: 90%;
  color: #37006E;
  text-transform: lowercase;
  border-top: 1px solid;
  margin: 20px auto;

  /* text-shadow: 0 2px 2px lightgrey;
  position: relative;
  letter-spacing: 2px;
  font-size: 1.1em;
  padding: 10px; */
}

.foot {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-shadow: 0 2px 2px lightgrey;
}

.foot-item {
  width: 16.66%;
  font-size: 1.3em;
  text-align: center;

  /* minimum button width for small screens */
  min-width: 36px;
  min-height: 36px;

  /* center vertically */
  line-height: 48px;
  height: 48px;
  display: block;
}

.foot a:link,
.foot a:visited {
  color: #37006E;
  padding: 5px;
}

.foot a:hover,
.foot a:active {
  color: white;
  background-color: #37006E;
  border-radius: 2px;
  text-shadow: 0 0 0;
  padding: 5px;
}
